﻿/* Place custom styles below */
body {
}

form {
}

#TijdsegistratieDiv {
    clear: left;
}

header {
    height: 66px;
    margin: 0px 0px 10px 0px;
    padding: 0;
}

#toHome {
    display: block;
    margin-left: 20px;
    margin-top: 10px;
}

.HomeLink {
    position: absolute;
    top: 34px;
    left: 0;
    padding-left: 20px;
}

#toHome a:link, a:visited {
    color: grey;
    text-decoration: none;
    padding: 4px 15px;
}

#toHome a:hover {
    color: grey;
    background-color: white;
    border: 1px solid darkgray;
    border-bottom: 2px solid white;
}

.bluebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #0171C5;
    opacity: 1;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 34px;
    opacity: 1 !important;
}

.linkbar {
    position: absolute;
    top: 34px;
    left: 0;
    width: 100%;
    height: 34px;
    background-color: black;
    opacity: 0.1;
}

#officeLogo {
    height: 28px;
    width: 110px;
}

.userbar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 250px;
    padding: 8px;
    background-color: #92C0E0;
}

#UserLabel {
    font-size: 1em;
    color: white;
}

.main {
    clear: both;
    margin: 15px 30px 80px 30px;
    font-size: 0.8em;
    padding-bottom: 100px;
}

h3 {
    padding: 8px 8px 8px 30px;
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: #0171C5;
    border: 1px solid gray;
    background-color: #e5e4e4;
}

h4 {
    margin: 3px;
    padding: 2px;
    font-size: 1.1em;
    font-weight:600;
    border-bottom: 1px solid #0171C5;
}

.sortingLabel {
    display: inline-block;
    min-width: 60px;
    margin: 4px;
}

.componentDiv {
    padding: 6px;
}

.loading {
    width: 50px;
    margin-left: 48%;
    left: 48%;
}

.UpdateDiv {
    width: 50px;
    margin-left: 48%;
    left: 48%;
}

.ticketTDLink {
    padding-left: 100px;
}

.ticketMeLink {
    padding-left: 20px;
}

.stap {
    border: 1px solid gray;
    border-top: 0 solid white;
    padding: 0;
    margin: 0px 0px 10px 0px;
    display: block;
    overflow-y: auto;
}

    .stap p {
        margin: 0;
        padding: 5px;
    }

    .stap input[type="text"], select {
        border: 1px solid #CCC;
        font-weight: 200;
        font-size: 1em;
        font-family: Verdana;
        box-shadow: 1px 1px 5px #CCC;
    }

.registratieDiv {
    clear: both;
    border: 1px solid gray;
    margin-bottom: 10px;
    padding: 10px;
}

#ticketRadioGroup {
    color: black;
    font-size: 0.7em;
    font-weight: 300;
    margin-left: 3em;
}

.pijlen {
    width: 20px;
    height: 20px;
    border: none;
}

.infodiv {
    border: 1px solid #0171C5;
    padding: 3px;
    margin: 10px;
    color: darkgray;
}

#totaalDuur {
}

table tbody tr td {
    margin: 3px;
    padding: 6px;
}

    table tbody tr td a {
        text-decoration: none;
    }

th {
    color: #999;
    font-size: 1em;
}

.tablesorter th {
    font-weight: 500;
    padding: 0.4em 1em;
    white-space: nowrap;
    cursor: pointer;
}

    .tablesorter th:hover {
        border-bottom: 1px solid #0171C5;
        background-color: #c2dff5;
        opacity: 0.4;
    }

.invoerTabel {
    border-collapse: collapse;
}

.verticaltableline {
    border-right: 1px solid darkgray;
    text-align: right;
}

.HelpText {
    padding: 5px;
    margin: 10px 25px;
    color: #ff9900;
}

.leftlabel {
    width: 0;
    float: left;
}

    .leftlabel img {
        position: relative;
        top: 0;
        right: 30px;
        border: none;
    }

.filter {
    margin: 5px;
    padding: 2px;
}

    .filter input[type=checkbox] {
        margin: 5px 10px 5px 20px;
    }

.ui-datepicker {
    font-size: 0.7em !important;
}

@media only screen and (max-width : 1234px) {
    .blok1 {
        padding: 10px;
        width: 98%;
        float: left;
    }

    .blok2 {
        padding: 10px;
        width: 98%;
        float: left;
        border-top: 3px double black;
    }
}

@media only screen and (min-width : 1235px) {
    .blok1 {
        padding: 10px;
        width: 600px;
        float: left;
        border-right: 1px solid black;
    }

    .blok2 {
        padding: 10px;
        width: 600px;
        float: left;
    }
}

.leftcol {
    width: 99%;
}

.toplijn {
    padding: 6px;
    border-top: 1px solid black;
}

.onpage {
    position: fixed;
    top: 81px;
    right: 5px;
    width: 330px;
    background-color: #ebedf5;
    transition: 0.5s;
}

#filterImageButton {
    margin: 0px 15px;
}

.filterDiv {
    margin: 5px;
    padding: 10px;
    border: 1px solid #0171C5;
}

.filterCheckBox {
    margin: 10px 5px;
}

.blok {
    padding: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
}

.PopUp {
    position: fixed;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    margin: 0 auto;
    padding: 5px;
    z-index: 20;
    background-color: #e5e4e4;
    border: 5px solid #0171C5;
}

.AankondigingPopUp {
    position: fixed;
    float: right;
    width: 400px;
    height: 200px;
    top: 60px;
    right: 60px;
    margin: 0 auto;
    padding: 5px;
    z-index: 10;
    background-color: #e5e4e4;
    border: 5px solid #0171C5;
    font-size: 0.9em;
}

.aankondiging {
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.closeButton {
    position: relative;
    float: right;
    top: 0px;
    right: 0px;
    margin-right: -27px;
    margin-top: -27px;
    width: 30px;
}

    .closeButton :hover {
        width: 22px;
        cursor: pointer;
    }

.blokRight {
    padding: 10px;
    width: 45%;
    float: right;
}

.clearLeft {
    clear: both;
}

nav {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.1em;
    background-color: #0171C5;
    height: 45px;
}

    nav ul ul {
        display: none;
        width: 280px;
    }

    nav ul li:hover > ul {
        display: block;
    }

    nav ul {
        color: White;
        background: #0171c5;
        padding: 0 20px;
        list-style: none;
        position: relative;
        display: inline-table;
    }

        nav ul:after {
            content: "";
            clear: both;
            display: block;
        }

        nav ul li {
            float: left;
            padding: 2px 5px;
        }

            nav ul li:hover {
                background: #0171C5;
                cursor: pointer;
            }

            nav ul li a:visited {
                color: white;
            }

            nav ul li:hover a {
                color: #fff;
            }

            nav ul li a {
                display: block;
                padding: 3px 20px;
                color: white;
                text-decoration: none;
            }

                nav ul li a img {
                    width: 16px;
                    height: 14px;
                    border: none;
                }

        nav ul ul {
            background: #92C0E0;
            border-radius: 0px;
            padding: 0;
            position: absolute;
            top: 80%;
            z-index: 3;
        }

            nav ul ul li {
                float: none;
                border-top: 1px solid #6b727c;
                border-bottom: 1px solid #575f6a;
                padding: 2px 5px;
                position: relative;
            }

                nav ul ul li a {
                    padding: 5px 20px;
                    color: #fff;
                }

                    nav ul ul li a:hover {
                        background: #4b545f;
                        color: white;
                    }

.errordiv {
    margin-top: 10px;
    color: Red;
    padding: 5px 10px;
}

.bluetext {
    color: #0171C5;
    font-size: 1.1em;
}


.notValid {
    color: red;
    font-size: 2em;
    font-weight: 700;
}

.error {
    color: red;
}

.bijTekst {
    color: gray;
    font-size: 1em;
}

.row-highlight {
    background-color: rgba(194,223,245,0.6);
    cursor: pointer;
}

.row-highlight2 {
    background-color: rgba(194,223,245,0.6);
}

.settingsknop {
    position: absolute;
    top: 40px;
    right: 10px;
}

.instellingen {
    transition-duration: 1s;
    padding: 10px;
    border: 2px solid black;
    position: absolute;
    background-color: #e5e4e4;
    top: 100px;
    right: 10px;
    display: block;
}

.instellingenHidden {
    transition-duration: 1s;
    padding: 10px;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    right: -300px;
    display: none;
}

.Buttons {
    margin: 3px 10px;
    padding: 2px 30px;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 4px;
    color: #0171C5;
    text-decoration: none !important;
}

    .Buttons:hover {
        color: white;
        background-color: #0171C5;
    }

    .Buttons:active {
        background-color: #92C0E0;
    }

.visibilityLink {
    color: #0171C5;
    font-size: 0.8em;
    text-decoration: none;
    padding: 2px;
    margin-left: 3em;
    border-bottom: 2px solid #0171C5;
    border-left: 5px solid #0171C5;
    border-bottom-left-radius: 3px;
}

    .visibilityLink:hover {
        text-decoration: none;
        border-bottom: 2px solid #ff9900;
        border-left: 5px solid #ff9900;
        border-bottom-left-radius: 3px;
    }

    .visibilityLink:hover {
        color: #0171C5 !important;
    }

.hidden {
    display: none;
}

#klantDetailsDiv {
    border-bottom: 1px solid gray;
}


#klantdetailTable {
    margin: 10px auto;
}

    #klantdetailTable td {
        border-Left: 1px solid gray;
        border-bottom: 1px solid gray;
        margin: 0;
        padding: 3px;
    }

.centerContent {
    align-content: center;
}

.redabelDiv {
    width:30px;
    height: 40px;
    float:left;
    display:inline-block;
    margin: 5px;
    padding:3px;
    border: 1px solid black;
}

    .redabelDiv > span {
        font-size: 2em;

    }

#attachmentList ul {
    list-style-type: none;
    padding-left: 0px;
    width: 520px;
}

    #attachmentList ul li {
    }

        #attachmentList ul li a {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }


#addFileList ul {
    list-style-type: none;
    padding-left: 0px;
    width: 520px;
}

    #addFileList ul li {
    }

        #addFileList ul li a {
            margin-left: 0.5em;
            margin-right: 0.5em;
        }

.attachmentFile {
    width: 360px;
    display: inline-block;
}

.fileListControl {
    display: inline-block;
}

alignRight {
    text-align: right;
}

#toegewezenContainer {
    width:510px;
    height:80px;
}

#toegewezenLeft {
    height: 80px;
    width: 200px;
    margin: 0;
    padding: 0;
    float: left;
}

#toegewezenMid {
    height: 80px;
    width: 100px;
    margin: 0;
    padding: 0;
    float: left
}

#toegewerenRight {
    height: 80px;
    width: 200px;
    margin: 0;
    padding: 0;
    float: left;
}

.listbox {
    width:180px;
    height:75px;
}

.clear {
    clear: both;
}

#buttondiv {
    margin: 5px;
    padding: 5px;
}

#rendabelReloadButton {
    margin: 5px;
}

#voorkeursSorteerDiv {
    position: fixed;
    float: right;
    width: 250px;
    height: 230px;
    top: 60px;
    right: 60px;
    margin: 0 auto;
    padding: 5px;
    z-index: 10;
    background-color: #e5e4e4;
    border: 5px solid #0171C5;
    font-size: 0.9em;
}

.LeftRightButtons {
    margin: 10px 5px;
    padding: 2px 30px;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 4px;
    color: #0171C5;
    text-decoration: none !important;
}

    .LeftRightButtons:hover {
        color: white;
        background-color: #0171C5;
    }

    .LeftRightButtons:active {
        background-color: #92C0E0;
    }
