﻿body {
    font-size: 11px;
}

.container {
    width: 650px;
    border: 1px solid black;
    background-color: white;
}

#logo {
    margin-left: 290px;
}

.gegevens {
    width: 205px;
    height: 170px;
    float: left;
    margin: 0;
    padding: 5px;
    border-left: 1px solid black;
}

#onsGegevens {
    border-left: none;
}

.BoldParagraph {
    font-weight: 600;
}

#VerslagDiv {
    clear: left;
    background-color: gray;
    color: white;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

    #VerslagDiv h3 {
        margin: 0;
        padding: 3px;
    }

.InterventieGegevens {
    border-left: 1px solid black;
    width: 205px;
    padding: 0px 5px;
    height: 30px;
    float: left;
}

#leftdiv {
    border-left: none;
}

.gewoon {
    clear: left;
    border-top: 1px solid black;
    height: 60px;
    padding-left: 5px;
}

.AkkoordDiv {
    height: 70px;
    border-top: 1px solid black;
    padding-left: 5px;
}

.OpmerkingDiv {
    height: 380px;
    border-top: 1px solid black;
    padding-left: 5px;
}

.invoerveld {
    border: none;
    overflow: hidden;
    margin: 0;
}

    .invoerveld:hover {
        border: 1px solid #d5d4d4;
    }

input[type='text'] {
    border: none;
    overflow: hidden;
    margin: 0;
}

    input[type='text']:hover {
        border: 1px solid #d5d4d4;
    }

.underline {
    text-decoration: underline;
    padding-top: 2px;
    padding-left: 5px;
}

.dot {
    padding: 7px 10px 0 10px;
}

table {
    border: none;
    border-spacing: 0;
    padding: 0 0 0 2px;
    font-size: 11px;
}

#opmerkingTextBox {
    width: 96%;
    height: 85%;
}
